<h1>Grocery list</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Number</th>
		<th>Unit</th>
		<th>Section</th>
	</tr>
	
<% @grocery_list.each do |ingredient_amount| %>
	<tr>
		<td><%=h ingredient_amount.ingredient.name%></td>
		<td><%=h ingredient_amount.number%></td>
		<td><%=h ingredient_amount.unit%></td>
		<td><%=h ingredient_amount.ingredient.section%></td>
	</tr>

<% end %>

</table>



