<h1>Welcome @name!</h1>

<% @recipes.each do |recipe| %>
<div class="post">
	<p class="meta"><span class="date">Sunday, April 26, 2009</span> 7:27 AM Posted by <a href="#">Someone</a></p>
	<h2 class="title"><%= link_to recipe.title, recipe %></td></h2>
	<div class="entry">
		<%=recipe.directions%>
	</div>
</div>
<% end %>


<br />

<%= link_to 'New recipe', new_recipe_path %>
<%= link_to 'Recipe list', :controller => 'recipe_lists', :action => 'show'%>
