<p>
  <b>Name:</b>
  <%=h @ingredient.name %>
</p>

<p>
  <b>Section:</b>
  <%=h @ingredient.section %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
