<div class="review_wrapper">
        <% review.rating.times do %>
	  <%= label(:review, "stars", content_tag(:span, ''),:class => "rating bright") %>
	<%end%>
	<br>
	<div class="commentbox">
		<%=review.review%>
	</div>
	<div class="commentfooter"> <%= review.created_at.asctime %></div>
</div>
