<div class="post">
        <% review.rating.times do %>
	  <%= label(:review, "stars", content_tag(:span, ''),:class => "rating bright") %>
	<%end%>
	<br>
	<div class="entry">
		<%=review.review%>
	</div>
	<p class="meta"><span class="date"> <%= review.created_at.asctime %></p></span>
</div>
