<div class="post">
	<div class="reviewtitle"> <%= review.rating %> stars.</div>
	<p class="meta"><span class="date"> <%= review.created_at.asctime %></p>
	<div class="entry">
		<%=review.review%>
	</div>
</div>